.login-form-container {
    display:flex;
    justify-content:center;
    align-items:center;
}

.error-msg {
    text-align: center;
    margin: 2em;
    padding: 2em;
    border: 1px solid red;
    background-color: #FAA;
}

.success-msg {
    text-align: center;
    margin: 2em;
    padding: 2em;
    border: 1px solid green;
    background-color: #AFA;
}

.index-container {
    display:flex;
    justify-content:center;
    align-items:center;
}

textarea {
    min-width: 40vw;
}

.bark-container {
    min-width: 40vw;
}

.bark {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    border-radius: 2px;
}

.bark-username {
    text-align: right;
}

.bark-username::before {
    content: "-- ";
}
