<!DOCTYPE html>
<html>
    <head>
        <meta codification="utf-8" />
        <link href="/static/style.css" rel="stylesheet" />
            
        <title>Dogbook</title>
    </head>
    <body>
        <div class="index-container">
            <div>
                {% if user_id %}
                <form method="POST" action="/send-bark">
                    <textarea name="bark" cols="40" cels="2" placeholder="Type here"></textarea>
                    <br />
                    <input type="submit" value="Bark!" /> <a href="/logout">Logout</a>
                </form>
                {% else %}
                <div class="success-msg">
                    <a href="/login">Login to send barks!</a>
                </div>
                {% endif %}

                <div class="bark-container">
                    {% for bark in barks %}
                    <div class="bark">
                        <div class="bark-content">{{ bark.content | safe }}</div>
                        <div class="bark-username">{{ bark.username }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </body>
</html>
