<!DOCTYPE html>
<html>
    <head>
        <meta codification="utf-8" />
        <link href="/static/style.css" rel="stylesheet" />
            
        <title>Dogbook - Register</title>
    </head>
    <body>
        
        <div class="login-form-container">
            <form class="login-form" method="POST" action="/do-register">
                <h3 class="title">Register</h3>

                {% if retry=='yes' %}
                <div class="error-msg">
                    Registration failed, try again!
                </div>
                {% endif %}

                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="" />
                </div>
                <br/>
                
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="" />
                </div>
                <br/>
                
                <input type="submit" value="Register" />
            </form>
        </div>
    </body>
</html>
